{{#isFormParam}}{{^isFile}}{{#isMultipart}}@Part{{/isMultipart}}{{^isMultipart}}@Field{{/isMultipart}}("{{baseName}}") {{{paramName}}}: {{{dataType}}}{{#required}}{{#defaultValue}} = {{^isNumber}}{{#lambda.test2}}{{{defaultValue}}}{{/lambda.test2}}{{{defaultValue}}}{{#lambda.test2}}{{{defaultValue}}}{{/lambda.test2}}{{/isNumber}}{{#isNumber}}("{{{defaultValue}}}").toDouble(){{/isNumber}}{{/defaultValue}}{{/required}}{{^required}}{{#defaultValue}} = {{^isNumber}}{{#lambda.test2}}{{{defaultValue}}}{{/lambda.test2}}{{{defaultValue}}}{{#lambda.test2}}{{{defaultValue}}}{{/lambda.test2}}{{/isNumber}}{{#isNumber}}("{{{defaultValue}}}").toDouble(){{/isNumber}}{{/defaultValue}}{{^defaultValue}} = null{{/defaultValue}}{{/required}}{{/isFile}}{{#isFile}}{{#isMultipart}}@Part{{/isMultipart}}{{^isMultipart}}@Field("{{baseName}}"){{/isMultipart}} {{{paramName}}}: MultiPartData{{^required}}? = null{{/required}}{{/isFile}}{{/isFormParam}}