{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}
{{#models}}
{{#model}}
{{! We execute this block only for the _first_ element: if oneOf is not empty, execute the template }}
{{#oneOf}}{{#-first}}{{>model_oneof}}{{/-first}}{{/oneOf}}{{^oneOf}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}
{{#isAlias}}typealias {{classname}} = {{{dataType}}}{{/isAlias}}{{^isAlias}}
{{>data_class}}
{{/isAlias}}
{{/isEnum}}
{{/oneOf}}
{{/model}}
{{/models}}