{{#oneOf}}
{{#-first}}
import kotlin.jvm.JvmInline

sealed interface {{classname}} {

{{/-first}}
  @JvmInline
  value class {{#lambda.oneOfName}}{{-index}}{{/lambda.oneOfName}}(val {{#lambda.type-to-name}}{{{.}}}{{/lambda.type-to-name}}value: {{{.}}}): {{classname}}

{{#-last}}
    }
{{/-last}}
{{/oneOf}}