{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}
{{#model}}
{{>model_oneof}}{{^oneOf}}
{{>enum_class}}{{^isEnum}}
{{#isAlias}}typealias {{classname}} = {{{dataType}}}{{/isAlias}}
{{^isAlias}}
{{>data_class}}
{{/isAlias}}
{{/isEnum}}
{{/oneOf}}
{{/model}}
{{/models}}