<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:icon="@drawable/xef_brand_icon"
            android:label="xefMobile"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config">
        <activity
                android:name="com.xef.xefMobile.MainActivity"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:launchMode="singleInstance"
                android:windowSoftInputMode="adjustPan"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
