/**
 * Please note: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */
@file:Suppress("ArrayInDataClass", "EnumEntryName", "RemoveRedundantQualifierName", "UnusedImport")

package org.openapitools.client.apis

import com.xebia.functional.openai.model.CreateImageEditRequestModel
import com.xebia.functional.openai.model.CreateImageRequest
import com.xebia.functional.openai.model.ImagesResponse
import java.io.IOException
import kotlinx.serialization.SerialName
import okhttp3.HttpUrl
import okhttp3.OkHttpClient
import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.Success

class ImagesApi(
  basePath: kotlin.String = defaultBasePath,
  client: OkHttpClient = ApiClient.defaultClient
) : ApiClient(basePath, client) {
  companion object {
    @JvmStatic
    val defaultBasePath: String by lazy {
      System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.openai.com/v1")
    }
  }

  /**
   * Creates an image given a prompt.
   *
   * @param createImageRequest
   * @return ImagesResponse
   * @throws IllegalStateException If the request is not correctly configured
   * @throws IOException Rethrows the OkHttp execute method exception
   * @throws UnsupportedOperationException If the API returns an informational or redirection
   *   response
   * @throws ClientException If the API returns a client error response
   * @throws ServerException If the API returns a server error response
   */
  @Suppress("UNCHECKED_CAST")
  @Throws(
    IllegalStateException::class,
    IOException::class,
    UnsupportedOperationException::class,
    ClientException::class,
    ServerException::class
  )
  fun createImage(createImageRequest: CreateImageRequest): ImagesResponse {
    val localVarResponse = createImageWithHttpInfo(createImageRequest = createImageRequest)

    return when (localVarResponse.responseType) {
      ResponseType.Success -> (localVarResponse as Success<*>).data as ImagesResponse
      ResponseType.Informational ->
        throw UnsupportedOperationException("Client does not support Informational responses.")
      ResponseType.Redirection ->
        throw UnsupportedOperationException("Client does not support Redirection responses.")
      ResponseType.ClientError -> {
        val localVarError = localVarResponse as ClientError<*>
        throw ClientException(
          "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
          localVarError.statusCode,
          localVarResponse
        )
      }
      ResponseType.ServerError -> {
        val localVarError = localVarResponse as ServerError<*>
        throw ServerException(
          "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
          localVarError.statusCode,
          localVarResponse
        )
      }
    }
  }

  /**
   * Creates an image given a prompt.
   *
   * @param createImageRequest
   * @return ApiResponse<ImagesResponse?>
   * @throws IllegalStateException If the request is not correctly configured
   * @throws IOException Rethrows the OkHttp execute method exception
   */
  @Suppress("UNCHECKED_CAST")
  @Throws(IllegalStateException::class, IOException::class)
  fun createImageWithHttpInfo(
    createImageRequest: CreateImageRequest
  ): ApiResponse<ImagesResponse?> {
    val localVariableConfig = createImageRequestConfig(createImageRequest = createImageRequest)

    return request<CreateImageRequest, ImagesResponse>(localVariableConfig)
  }

  /**
   * To obtain the request config of the operation createImage
   *
   * @param createImageRequest
   * @return RequestConfig
   */
  fun createImageRequestConfig(
    createImageRequest: CreateImageRequest
  ): RequestConfig<CreateImageRequest> {
    val localVariableBody = createImageRequest
    val localVariableQuery: MultiValueMap = mutableMapOf()
    val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
    localVariableHeaders["Content-Type"] = "application/json"
    localVariableHeaders["Accept"] = "application/json"

    return RequestConfig(
      method = RequestMethod.POST,
      path = "/images/generations",
      query = localVariableQuery,
      headers = localVariableHeaders,
      requiresAuthentication = true,
      body = localVariableBody
    )
  }

  /** enum for parameter size */
  enum class PropertySizeCreateImageEdit(val value: kotlin.String) {
    @SerialName(value = "256x256") _256x256("256x256"),
    @SerialName(value = "512x512") _512x512("512x512"),
    @SerialName(value = "1024x1024") _1024x1024("1024x1024")
  }

  /** enum for parameter responseFormat */
  enum class ResponseFormatCreateImageEdit(val value: kotlin.String) {
    @SerialName(value = "url") url("url"),
    @SerialName(value = "b64_json") b64_json("b64_json")
  }

  /**
   * Creates an edited or extended image given an original image and a prompt.
   *
   * @param image The image to edit. Must be a valid PNG file, less than 4MB, and square. If mask is
   *   not provided, image must have transparency, which will be used as the mask.
   * @param prompt A text description of the desired image(s). The maximum length is 1000
   *   characters.
   * @param mask An additional image whose fully transparent areas (e.g. where alpha is zero)
   *   indicate where &#x60;image&#x60; should be edited. Must be a valid PNG file, less than 4MB,
   *   and have the same dimensions as &#x60;image&#x60;. (optional)
   * @param model (optional)
   * @param n The number of images to generate. Must be between 1 and 10. (optional, default to 1)
   * @param size The size of the generated images. Must be one of &#x60;256x256&#x60;,
   *   &#x60;512x512&#x60;, or &#x60;1024x1024&#x60;. (optional, default to 1024x1024)
   * @param responseFormat The format in which the generated images are returned. Must be one of
   *   &#x60;url&#x60; or &#x60;b64_json&#x60;. (optional, default to url)
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor
   *   and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids). (optional)
   * @return ImagesResponse
   * @throws IllegalStateException If the request is not correctly configured
   * @throws IOException Rethrows the OkHttp execute method exception
   * @throws UnsupportedOperationException If the API returns an informational or redirection
   *   response
   * @throws ClientException If the API returns a client error response
   * @throws ServerException If the API returns a server error response
   */
  @Suppress("UNCHECKED_CAST")
  @Throws(
    IllegalStateException::class,
    IOException::class,
    UnsupportedOperationException::class,
    ClientException::class,
    ServerException::class
  )
  fun createImageEdit(
    image: java.io.File,
    prompt: kotlin.String,
    mask: java.io.File? = null,
    model: CreateImageEditRequestModel? = null,
    n: kotlin.Int? = 1,
    size: PropertySizeCreateImageEdit? = PropertySizeCreateImageEdit._1024x1024,
    responseFormat: ResponseFormatCreateImageEdit? = ResponseFormatCreateImageEdit.url,
    user: kotlin.String? = null
  ): ImagesResponse {
    val localVarResponse =
      createImageEditWithHttpInfo(
        image = image,
        prompt = prompt,
        mask = mask,
        model = model,
        n = n,
        size = size,
        responseFormat = responseFormat,
        user = user
      )

    return when (localVarResponse.responseType) {
      ResponseType.Success -> (localVarResponse as Success<*>).data as ImagesResponse
      ResponseType.Informational ->
        throw UnsupportedOperationException("Client does not support Informational responses.")
      ResponseType.Redirection ->
        throw UnsupportedOperationException("Client does not support Redirection responses.")
      ResponseType.ClientError -> {
        val localVarError = localVarResponse as ClientError<*>
        throw ClientException(
          "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
          localVarError.statusCode,
          localVarResponse
        )
      }
      ResponseType.ServerError -> {
        val localVarError = localVarResponse as ServerError<*>
        throw ServerException(
          "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
          localVarError.statusCode,
          localVarResponse
        )
      }
    }
  }

  /**
   * Creates an edited or extended image given an original image and a prompt.
   *
   * @param image The image to edit. Must be a valid PNG file, less than 4MB, and square. If mask is
   *   not provided, image must have transparency, which will be used as the mask.
   * @param prompt A text description of the desired image(s). The maximum length is 1000
   *   characters.
   * @param mask An additional image whose fully transparent areas (e.g. where alpha is zero)
   *   indicate where &#x60;image&#x60; should be edited. Must be a valid PNG file, less than 4MB,
   *   and have the same dimensions as &#x60;image&#x60;. (optional)
   * @param model (optional)
   * @param n The number of images to generate. Must be between 1 and 10. (optional, default to 1)
   * @param size The size of the generated images. Must be one of &#x60;256x256&#x60;,
   *   &#x60;512x512&#x60;, or &#x60;1024x1024&#x60;. (optional, default to 1024x1024)
   * @param responseFormat The format in which the generated images are returned. Must be one of
   *   &#x60;url&#x60; or &#x60;b64_json&#x60;. (optional, default to url)
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor
   *   and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids). (optional)
   * @return ApiResponse<ImagesResponse?>
   * @throws IllegalStateException If the request is not correctly configured
   * @throws IOException Rethrows the OkHttp execute method exception
   */
  @Suppress("UNCHECKED_CAST")
  @Throws(IllegalStateException::class, IOException::class)
  fun createImageEditWithHttpInfo(
    image: java.io.File,
    prompt: kotlin.String,
    mask: java.io.File?,
    model: CreateImageEditRequestModel?,
    n: kotlin.Int?,
    size: PropertySizeCreateImageEdit?,
    responseFormat: ResponseFormatCreateImageEdit?,
    user: kotlin.String?
  ): ApiResponse<ImagesResponse?> {
    val localVariableConfig =
      createImageEditRequestConfig(
        image = image,
        prompt = prompt,
        mask = mask,
        model = model,
        n = n,
        size = size,
        responseFormat = responseFormat,
        user = user
      )

    return request<Map<String, PartConfig<*>>, ImagesResponse>(localVariableConfig)
  }

  /**
   * To obtain the request config of the operation createImageEdit
   *
   * @param image The image to edit. Must be a valid PNG file, less than 4MB, and square. If mask is
   *   not provided, image must have transparency, which will be used as the mask.
   * @param prompt A text description of the desired image(s). The maximum length is 1000
   *   characters.
   * @param mask An additional image whose fully transparent areas (e.g. where alpha is zero)
   *   indicate where &#x60;image&#x60; should be edited. Must be a valid PNG file, less than 4MB,
   *   and have the same dimensions as &#x60;image&#x60;. (optional)
   * @param model (optional)
   * @param n The number of images to generate. Must be between 1 and 10. (optional, default to 1)
   * @param size The size of the generated images. Must be one of &#x60;256x256&#x60;,
   *   &#x60;512x512&#x60;, or &#x60;1024x1024&#x60;. (optional, default to 1024x1024)
   * @param responseFormat The format in which the generated images are returned. Must be one of
   *   &#x60;url&#x60; or &#x60;b64_json&#x60;. (optional, default to url)
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor
   *   and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids). (optional)
   * @return RequestConfig
   */
  fun createImageEditRequestConfig(
    image: java.io.File,
    prompt: kotlin.String,
    mask: java.io.File?,
    model: CreateImageEditRequestModel?,
    n: kotlin.Int?,
    size: PropertySizeCreateImageEdit?,
    responseFormat: ResponseFormatCreateImageEdit?,
    user: kotlin.String?
  ): RequestConfig<Map<String, PartConfig<*>>> {
    val localVariableBody =
      mapOf(
        "image" to PartConfig(body = image, headers = mutableMapOf()),
        "prompt" to PartConfig(body = prompt, headers = mutableMapOf()),
        "mask" to PartConfig(body = mask, headers = mutableMapOf()),
        "model" to PartConfig(body = model, headers = mutableMapOf()),
        "n" to PartConfig(body = n, headers = mutableMapOf()),
        "size" to PartConfig(body = size.value, headers = mutableMapOf()),
        "response_format" to PartConfig(body = responseFormat.value, headers = mutableMapOf()),
        "user" to PartConfig(body = user, headers = mutableMapOf()),
      )
    val localVariableQuery: MultiValueMap = mutableMapOf()
    val localVariableHeaders: MutableMap<String, String> =
      mutableMapOf("Content-Type" to "multipart/form-data")
    localVariableHeaders["Accept"] = "application/json"

    return RequestConfig(
      method = RequestMethod.POST,
      path = "/images/edits",
      query = localVariableQuery,
      headers = localVariableHeaders,
      requiresAuthentication = true,
      body = localVariableBody
    )
  }

  /** enum for parameter responseFormat */
  enum class ResponseFormatCreateImageVariation(val value: kotlin.String) {
    @SerialName(value = "url") url("url"),
    @SerialName(value = "b64_json") b64_json("b64_json")
  }

  /** enum for parameter size */
  enum class PropertySizeCreateImageVariation(val value: kotlin.String) {
    @SerialName(value = "256x256") _256x256("256x256"),
    @SerialName(value = "512x512") _512x512("512x512"),
    @SerialName(value = "1024x1024") _1024x1024("1024x1024")
  }

  /**
   * Creates a variation of a given image.
   *
   * @param image The image to use as the basis for the variation(s). Must be a valid PNG file, less
   *   than 4MB, and square.
   * @param model (optional)
   * @param n The number of images to generate. Must be between 1 and 10. For &#x60;dall-e-3&#x60;,
   *   only &#x60;n&#x3D;1&#x60; is supported. (optional, default to 1)
   * @param responseFormat The format in which the generated images are returned. Must be one of
   *   &#x60;url&#x60; or &#x60;b64_json&#x60;. (optional, default to url)
   * @param size The size of the generated images. Must be one of &#x60;256x256&#x60;,
   *   &#x60;512x512&#x60;, or &#x60;1024x1024&#x60;. (optional, default to 1024x1024)
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor
   *   and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids). (optional)
   * @return ImagesResponse
   * @throws IllegalStateException If the request is not correctly configured
   * @throws IOException Rethrows the OkHttp execute method exception
   * @throws UnsupportedOperationException If the API returns an informational or redirection
   *   response
   * @throws ClientException If the API returns a client error response
   * @throws ServerException If the API returns a server error response
   */
  @Suppress("UNCHECKED_CAST")
  @Throws(
    IllegalStateException::class,
    IOException::class,
    UnsupportedOperationException::class,
    ClientException::class,
    ServerException::class
  )
  fun createImageVariation(
    image: java.io.File,
    model: CreateImageEditRequestModel? = null,
    n: kotlin.Int? = 1,
    responseFormat: ResponseFormatCreateImageVariation? = ResponseFormatCreateImageVariation.url,
    size: PropertySizeCreateImageVariation? = PropertySizeCreateImageVariation._1024x1024,
    user: kotlin.String? = null
  ): ImagesResponse {
    val localVarResponse =
      createImageVariationWithHttpInfo(
        image = image,
        model = model,
        n = n,
        responseFormat = responseFormat,
        size = size,
        user = user
      )

    return when (localVarResponse.responseType) {
      ResponseType.Success -> (localVarResponse as Success<*>).data as ImagesResponse
      ResponseType.Informational ->
        throw UnsupportedOperationException("Client does not support Informational responses.")
      ResponseType.Redirection ->
        throw UnsupportedOperationException("Client does not support Redirection responses.")
      ResponseType.ClientError -> {
        val localVarError = localVarResponse as ClientError<*>
        throw ClientException(
          "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
          localVarError.statusCode,
          localVarResponse
        )
      }
      ResponseType.ServerError -> {
        val localVarError = localVarResponse as ServerError<*>
        throw ServerException(
          "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
          localVarError.statusCode,
          localVarResponse
        )
      }
    }
  }

  /**
   * Creates a variation of a given image.
   *
   * @param image The image to use as the basis for the variation(s). Must be a valid PNG file, less
   *   than 4MB, and square.
   * @param model (optional)
   * @param n The number of images to generate. Must be between 1 and 10. For &#x60;dall-e-3&#x60;,
   *   only &#x60;n&#x3D;1&#x60; is supported. (optional, default to 1)
   * @param responseFormat The format in which the generated images are returned. Must be one of
   *   &#x60;url&#x60; or &#x60;b64_json&#x60;. (optional, default to url)
   * @param size The size of the generated images. Must be one of &#x60;256x256&#x60;,
   *   &#x60;512x512&#x60;, or &#x60;1024x1024&#x60;. (optional, default to 1024x1024)
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor
   *   and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids). (optional)
   * @return ApiResponse<ImagesResponse?>
   * @throws IllegalStateException If the request is not correctly configured
   * @throws IOException Rethrows the OkHttp execute method exception
   */
  @Suppress("UNCHECKED_CAST")
  @Throws(IllegalStateException::class, IOException::class)
  fun createImageVariationWithHttpInfo(
    image: java.io.File,
    model: CreateImageEditRequestModel?,
    n: kotlin.Int?,
    responseFormat: ResponseFormatCreateImageVariation?,
    size: PropertySizeCreateImageVariation?,
    user: kotlin.String?
  ): ApiResponse<ImagesResponse?> {
    val localVariableConfig =
      createImageVariationRequestConfig(
        image = image,
        model = model,
        n = n,
        responseFormat = responseFormat,
        size = size,
        user = user
      )

    return request<Map<String, PartConfig<*>>, ImagesResponse>(localVariableConfig)
  }

  /**
   * To obtain the request config of the operation createImageVariation
   *
   * @param image The image to use as the basis for the variation(s). Must be a valid PNG file, less
   *   than 4MB, and square.
   * @param model (optional)
   * @param n The number of images to generate. Must be between 1 and 10. For &#x60;dall-e-3&#x60;,
   *   only &#x60;n&#x3D;1&#x60; is supported. (optional, default to 1)
   * @param responseFormat The format in which the generated images are returned. Must be one of
   *   &#x60;url&#x60; or &#x60;b64_json&#x60;. (optional, default to url)
   * @param size The size of the generated images. Must be one of &#x60;256x256&#x60;,
   *   &#x60;512x512&#x60;, or &#x60;1024x1024&#x60;. (optional, default to 1024x1024)
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor
   *   and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids). (optional)
   * @return RequestConfig
   */
  fun createImageVariationRequestConfig(
    image: java.io.File,
    model: CreateImageEditRequestModel?,
    n: kotlin.Int?,
    responseFormat: ResponseFormatCreateImageVariation?,
    size: PropertySizeCreateImageVariation?,
    user: kotlin.String?
  ): RequestConfig<Map<String, PartConfig<*>>> {
    val localVariableBody =
      mapOf(
        "image" to PartConfig(body = image, headers = mutableMapOf()),
        "model" to PartConfig(body = model, headers = mutableMapOf()),
        "n" to PartConfig(body = n, headers = mutableMapOf()),
        "response_format" to PartConfig(body = responseFormat.value, headers = mutableMapOf()),
        "size" to PartConfig(body = size.value, headers = mutableMapOf()),
        "user" to PartConfig(body = user, headers = mutableMapOf()),
      )
    val localVariableQuery: MultiValueMap = mutableMapOf()
    val localVariableHeaders: MutableMap<String, String> =
      mutableMapOf("Content-Type" to "multipart/form-data")
    localVariableHeaders["Accept"] = "application/json"

    return RequestConfig(
      method = RequestMethod.POST,
      path = "/images/variations",
      query = localVariableQuery,
      headers = localVariableHeaders,
      requiresAuthentication = true,
      body = localVariableBody
    )
  }

  private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
    HttpUrl.Builder()
      .scheme("http")
      .host("localhost")
      .addPathSegment(uriComponent)
      .build()
      .encodedPathSegments[0]
}
