:root {
  --xef-background-color: #000b1b;
  --xef-primary-color: #eee;
  --xef-secondary-color: #7650e9;
  --xef-background-light-color: #f9f6fd;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100%;
}
@custom-media --xef-mobile-window (max-width: 768px);
@custom-media --xef-tablet-window (max-width: 1200px);

html {
  color-scheme: light !important;
}

html,
body {
  height: calc(100% - 64px);
  margin: 0;
}

.root-container {
  width: 100%;
  height: 100%;
}
