/**
 * Please note: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */
@file:Suppress("ArrayInDataClass", "EnumEntryName", "RemoveRedundantQualifierName", "UnusedImport")

package com.xebia.functional.openai.generated.api

import com.xebia.functional.openai.generated.api.ChatApi.*
import com.xebia.functional.openai.generated.model.CreateChatCompletionRequest
import com.xebia.functional.openai.generated.model.CreateChatCompletionResponse
import io.ktor.client.HttpClient
import io.ktor.client.call.body
import io.ktor.client.request.request
import io.ktor.client.request.setBody
import io.ktor.http.ContentType
import io.ktor.http.HttpMethod
import io.ktor.http.contentType
import io.ktor.http.path
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*
import kotlinx.serialization.json.Json

/**  */
interface ChatApi {

  /**
   * Creates a model response for the given chat conversation.
   *
   * @param createChatCompletionRequest
   * @return CreateChatCompletionResponse
   */
  suspend fun createChatCompletion(
    createChatCompletionRequest: CreateChatCompletionRequest
  ): CreateChatCompletionResponse
}

fun ChatApi(client: HttpClient): ChatApi =
  object : ChatApi {
    override suspend fun createChatCompletion(
      createChatCompletionRequest: CreateChatCompletionRequest,
    ): CreateChatCompletionResponse =
      client
        .request {
          method = HttpMethod.Post
          contentType(ContentType.Application.Json)
          url { path("/chat/completions") }
          setBody(createChatCompletionRequest)
        }
        .body()
  }
